/* @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

.Navbar{
  background-color: rgb(147, 255, 128);
}
#h7{
  font-family: 'Merriweather', serif;
  color: pink;
  font-size: 27px;
}
#h8{
  font-family: 'Lobster Two', sans-serif;
  font-size: 50px;
}
@media screen and (min-width:280px) and (max-width:380px){
  #h8{
    font-family: 'Lobster Two', sans-serif;
    font-size: 40px;
  }
}
#h9:hover{
  font-family: 'Bungee Spice', sans-serif;
  font-weight: 900;
}

#btn:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
  border-radius: 50%;
  background-color: rgb(147, 255, 128);
  color: white;
  font-weight: 900;
}
.New-SEC{
  border-top: 10px solid rgb(147, 255, 128);
}
#fs-2{
  font-family: 'Merriweather', serif;
  font-size: 35px;
}
@media screen and (max-width:991px){
  #st-c{
    text-align: center;
  }
}
@media screen and (min-width:991px) and (max-width:1200px) {
  #st-c{
    margin-left: 10px;
  }
}
.square{
  border: 3px solid rgb(147, 255, 128);
}
@media screen and (min-width:992px){
  #card:hover{
    transform: scale(1.1);
     transform : rotateY(360deg); 
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 15px 7px rgb(147, 255, 128);
    border: none;
   }
}
.squares{
  border: 3px solid rgb(147, 255, 128);
}
@media screen and (max-width:576px) {
  .squares{
    border: none;
  }
}
#button{
  background-color: rgb(147, 255, 128);
  color: black;
}
#button:hover{
  box-shadow: 0px 0px 5px 7px rgb(147, 255, 128);
  background-color:white;
  color: black;
}
.ft{
  color: black;
  font-weight: bold;
}
.ft:hover{
  color: blue;
}
.logo-f:hover{
  transform: rotate(360deg);
  transition: transform 0.5s;
}
.ft-t{
  color:black;
}
.ft-t:hover{
  color: blue;
}


*/
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

.Navbar{
  background-color:#fffd75;
} 

 #h7{
  font-family: 'Vina Sans', sans-serif;
  font-size: 2em;
 }
 #h9{
  color: black;
 }
 #h9:hover{
  color: rgb(149, 255, 250);
  font-weight: 900;
}
#h8{
  font-family: 'Lobster Two', sans-serif;
}
#btn{
  background-color: #fffd75;
}
#btn:hover{
  transform: scale(1.1);
  transition: transform 0.6s;
  box-shadow: 0px 0px 4px 6px #fffd75;
  background-color: white;
}
.square{
  border: 3px solid #fffd75;
}
#fs-2{
  font-family: 'Merriweather', serif;
  color: black;
  text-decoration-line: underline;
  text-decoration-style: double;  
  font-size: 170%;
}
@media screen and (max-width:991px){
  #st-c{
    text-align: center;
  }
  .image1{
    display: none;
    }
}
.image1{
  width: 11%;
}
@media screen and (min-width:991px) and (max-width:1200px) {
  #st-c{
    margin-left: 10px;
  }
}
#card:hover{
  transform: scale(1.1);
  transition: transform 0.7s;
  box-shadow: 0px 0px 4px 6px #fffd75;
  background-color: white;
  border: none;
}
#button{
  background-color:aqua;
  color: black;
  font-weight: 400;
}
#button:hover{
  box-shadow: 0px 0px 5px 7px rgb(147, 255, 128);
  background-color:white;
  color: black;
}
.ft{
  color: black;
  font-weight: bold;
}
.ft:hover{
  color: blue;
}
